@import "..//css/fonts.css";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	color: gray;
	font-family: GenBkBasB, Arial, serif;
}

div {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	min-height: calc(100vh - 320px);
	margin: 0 auto;
}

.container {
	width: 1250px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
}

/**         Header         */

header {
	background: url(..//img/shadow.png) 50% 0 repeat-x ,
				url(..//img/bg-promo.jpg) 50% 0 no-repeat;
	height: 750px;
}

.logo {
	margin-top: 47px;
	float: left;
}

.heading {
	float: right;
}

nav {
	display: block;
	font-size: 0;
}

nav li {
	float: left;
	display: block;
	padding-top: 48px;
	border-top: 3px solid rgba(205,202,190,0);
}

nav a {
	color: #fff;
	padding: 48px 25px 10px 25px;
	font-size: 21px;
}

nav>ul>li:first-child {
	border-top: 3px solid rgba(205,202,190,0.71);
	margin-bottom: 3px;	
}

nav li:last-child {
	padding-right: 119px;
}

nav a:hover {
	border-top: 3px solid rgba(205,202,190,0.71);
	background: rgba(0,0,0,0.3);
}

.social-icons  {
	margin: 18px 15px 0 0;
	text-align: right;
}

.social-icons li {
	float: right;
	margin-top: -22px;
}

.social-icons li a {
	background: url(..//img/icons/sprite.png) no-repeat 0 0;
	display: inline-block;
	width: 34px;
	height: 22px;
	cursor: pointer;
	font-size: 0;
}

.social-icons .youtube {
	background-position: -37px 0;
}

.social-icons .facebook {
	background-position: -74px 0;
}

h1 {
	font-family: YesevaOne-Regular_v2, serif;
	font-weight: 100;
	font-size: 90px;
	color: #fff;
	text-align: center;
	margin: 140px 0 42px 0;
}

.divider {
	text-align: center;
}

.button {
	text-align: center;
}

.button ul {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-family: Lato-Regular, Arial, sans-serif;
	font-size: 18px;
	margin: 0 auto;	
	margin: 33px 0 126px 0; 
}

.button li {
	float: left;
	display: block;	
}

.button a {
	color: #fff;
	width: 226px;
	padding: 22px 0;
	display: block;
	margin: 0 16px;
}

.btn-left {
	background: rgba(0,0,0,0.7);
	border: 1px solid rgba(0,0,0,0.8);
}

.btn-right {
	background: rgba(255,255,255,0.28);
	border: 1px solid rgba(255,255,255,0.7);	
}

.button a:hover {
	background: #3ec354;
	border: 1px solid #3ec354;
	transition: .3s;
}

/**          Main          */

section.about {
	background: url(..//img/pattern/pattern1.png) 50% 0 repeat,
				url(..//img/main/about/bg-about.jpg) 50% 0 no-repeat;
	height: 710px;
}

.description {
	width: 430px;
	height: auto;
	margin-left: 110px;
	text-align: center;
	overflow: hidden;
}

.elements {
	display: block;
	font-size: 0;
	padding-top: 100px;
}

h2 {
	color: #cc9900;
	font-size: 36px;
	font-family: YesevaOne-Regular_v2, serif;
	font-weight: 100;
	margin-bottom: 22px;
	text-align: center;
}

p {
	color: #4c4c4c;
	margin-top: 31px;
	line-height: 1.5;
	font-size: 16px;
	font-family: Lato-Regular, Arial, sans-serif;
}

.description__cook {
	margin: 35px 0 0 70px;
}

figure {
	float: right;
	margin: -550px 58px 24px 0;
} 

section.ingredients {
	background: url(..//img/main/ingredients/bg-ingredients.jpg) no-repeat 50% 0;
	height: 758px;
}

.inner-container {
	padding: 100px 0;
}

.ingredients__description {
	background: rgba(0,0,0, 0.67);
	width: 570px;
	height: 557px;
	margin-left: 640px;
}

article {
	width: 430px; 
	height: 557px;
	margin-left: 70px;
	text-align: center;	
	padding-top: 80px;
}

article>h2 {
	color: #fff;
}

article>p {
	color: #fff;
}

.ingredients__images  {
	display: block;
	font-size: 0;
}

.ingredients__images li {
	float: left;
	display: block;
	margin: 54px 16px;	
	border: 5px solid rgba(255,255,255,0.1);
	border-radius: 60px;
	max-width: 100px;
	max-height: 100px;
	overflow: hidden;
}

section.menu {
	background: url(..//img/pattern/pattern2.png) 50% 0 repeat, 
				url(..//img/main/menu/bg-menu.jpg) no-repeat 50% 0;
	height: 994px;
}

.menu-container {
	width: 1067px; 
	height: 870px;  
	margin: 0 auto;
	padding-top: 30px;
	overflow: hidden;
}

.menu-offer {
	width: 450px; 
	height: auto;
	margin: 0 auto;
	display: block;
	overflow: hidden;	
}

.menu__left-column {
	display: block;
	float: left;	
}

.menu__right-column {
	display: block;
	float: right;	
}

.price-list {
	display: block;
	font-size: 0;
	width: 430px;
	padding: 0 10px;
}

h3, .price {
	color: #cc9900;
	font-size: 21px;
	font-weight: 100;
	font-family: YesevaOne-Regular_v2, serif;	
}

h3 {
	padding: 18px 0 12px 0;
	border-bottom: 1px solid rgba(204,153,0,0.3);	
}

.menu-offer h2 {
	padding-top: 70px;
}

.price {
	float: right;
	margin-top: -40px;
}

.composition {
	font-family: Lato-Regular, Arial, sans-serif;
	font-size: 16px;
	color: #4c4c4c;
	line-height: 1.5;
	margin-top: 0;
	padding-left: 10px;
}

.border_composition {
	border: 1px solid rgba(204,153,0,0.3);
	margin: 20px 17px 0 0;
}

.border_composition h3 {
	padding-top: 10px;
}

.tag-special {
	background: url(..//img/main/menu/special.jpg) no-repeat ;
	font-family: Lato-Regular, Arial, sans-serif;
	font-size: 14px;
	color: #f8fafa;
	padding: 0 12px;
	float: right;
	margin: -65px -1px 0 0;	
}

section.reviews {
	background: url(..//img/main/reviews/bg-reviews.jpg) no-repeat 50% 0;
	height: 758px;
}

.reviews-description {
	background: rgba(0,0,0, 0.67);
	width: 770px;
	height: 557px;
	margin: 0 auto;	
	overflow: hidden;
}

.guest-reviews {
	width: 630px;
	margin: 0 auto;
	margin-top: -190px;	
}

.guest-reviews h2 {
	color: #fff;
}

.quotes {
	color: rgba(255,255,255,0.47);
	font-family: Georgia, TimesNewRoman, serif;
	font-size: 96px; 
	margin: 144px 0 0 17px;
}

.guest-reviews p {
	color: #dde0df;
	font-size: 25px;
	line-height: 1.68;
	font-family: GenBkBasB, serif;
	margin: 15px 0;
	text-align: center;
}

.text_author {
	color: #fff;
	font-size: 18px;
	line-height: 2.5;
	font-family: Lato-Regular, Arial, sans-serif;
	font-weight: 100;
	text-align: center;
	padding-top: 20px;
}

section.reservations {
	background: url(..//img/pattern/pattern1.png) 50% 0 repeat, 
				url(..//img/main/reservations/bg-reservations.jpg) no-repeat 50% 0;
	height: 710px;
}

.photo-food {
	display: block;
	font-size: 0;
}

.photo-food li {
	float: left;
	margin: 100px 0 103px 40px;
}

.form-container {
	display: block;
	float: right;
	padding: 94px 70px 0 0 ;
	margin: 0;
}

.form-container p {
	margin-top: 10px;
}

form {
	width: 460px;
	margin: 55px 0 0 100px;
}

.form-row {
	margin-bottom: 8px;
	overflow: hidden;
	font-family: OpenSans-Regular, Arial, sans-serif;
}

form label {
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #c9a131;
}

form input {
	width: 170px;
	height: 36px;
	line-height: 19px;
	padding: 0 14px;
	font-size: 16px;
	font-style: italic;
	border: 1px solid #b7b7b7;
	float: left;
	clear: both;
	background-color: rgba(255,255,255,0.4);
}

form input:focus {
	outline: 1px solid #c9a131;
}

.form-icons {
	display: block;
	float: right;
	margin: 0 12px -80px 0;
	padding-top: 35px;	
}

form input[type=submit] {
	padding: 5px;
	width: 200px;
	height: 36px;
	background: rgba(201,161,49,0.98);
	color: #fff;
	font-style: normal;
	text-align: center;
	border: 1px solid #c9a131;
	cursor: pointer;
	margin-left: 130px;
}

form input[type=submit]:hover {
	background: #3ec354;
	border: 1px solid #3ec354;
}

input, label {
    display: block;
}

label {
	padding: 5px 0;
	display: block;
}

.form-row {
	display: block;
	float: left;
	margin: -15px 15px 30px 15px;
}

/**         Footer         */

footer {
	background-color: #191919;
	font-family: OpenSans-Regular, Arial, sans-serif;
	height: 320px;
	display: block;
	color: #fff;
	line-height: 1.5;
	text-align: center;
}

footer div {
	padding-top: 10px;
	font-size: 16px;
}

.foot-block {
	width: 370px;
	height: 218px;
	overflow: hidden;
	text-align: center;
	float: left;
	margin: 32px 0 0 40px;;
}

h4 {
	font-family: YesevaOne-Regular_v2, serif;
	font-size: 21px;
	color: #fefefe;
	padding-bottom: 10px;
	font-weight: normal;
}

.icons {
	display:block;
	margin: 40px 120px 0 0 ;
}

.social {
	margin: 18px 15px 0 0;
	text-align: center;
}

.social li {
	float: right;
	margin-top: -22px;
}

.social li a {
	background: url(..//img/icons/icons.png) no-repeat 0 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	font-size: 0;
}

.social .icon2 {
	background-position: -20px 0;
}

.social .icon3 {
	background-position: -44px 0;
}

.social .icon4 {
	background-position: -68px 0;
}

.cards {
	margin: 18px 15px 0 0;
	text-align: center;
}
.cards li {
	float: right;
	margin-top: -22px;
}

.cards li a {
	background: url(..//img/icons/cards.png) no-repeat 0 0;
	display: inline-block;
	width: 28px;
	height: 20px;
	cursor: pointer;
	font-size: 0;
}

.cards .icon2 {
	background-position: -31px 0;
}

.cards .icon3 {
	background-position: -62px 0;
}

.cards .icon4 {
	background-position: -92px 0;
}
